<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>cv</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <link href="css/cv.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

</head>

<body>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-am-12">
                <div class="row">
                    <div class="header_title">
                        <h1><span>SIRAT</span> BINTE SIDDIQUE</h1>
                        <h4>language technologist and software developer</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-am-12">
                <div class="row">
                    <div class="container" id="conent_">
                        <div class="col-md-3">
                            <div class="row">
                                <address class="first_">
						  <strong class="contact">contact</strong><br>
						  iubat123sirat@gmail.com<br>
							+88 0174 0881 027<br>
							<span>twitter</span> Sirat_Siddique<br>
							<span>github</span> Sirat-Binte-Siddique <br>
							<span>LinkedIn</span> :/in/sirat-binte-siddique-904a51106 
						</address>
                                <address class="first_">
						  <strong class="skills">skills</strong><br>
							<span>proficient</span><br>
							Git<br>
                            	NodeJS<br>
                            	AngularJS<br>
                            	NoSql<br>
							<span>comfortable</span><br>
							JavaScript<br>
							HTML/CSS<br>
							Bootstrap<br>
							<span>familiar</span><br>
							Ionic Framework.<br>
							Jquery<br>
						</address>
                                <address class="first_">
						  <strong class="languages">languages</strong><br>
								<span>native</span><br>
								Bangla<br>
								<span>advanced</span><br>
								English<br>
                                 Hindi<br>
								<span>beginner</span><br>
								korean<br>
						</address>


                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <h2>Project </h2>
                                <div class="text_group">
                                    <div class="float_l"><span>Online Examination System (Javascript)</span> | January 2016 to April 2016</div>
                                    <div class="float_r"><a href="#">github.com/Sirat-Binte-Siddique<br/>/online-examination-system </a></div>
                                    <ul>
                                        <li>Developed web app using Node.js, Express, and ejs , with Mongodb</li>
                                        <li>Built app backend using functional programming and persistent data structures</li>
                                    </ul>
                                </div>

                                <h2 class="experience">experience</h2>
                                <div class="row">
                                    <div class="ex_text_gp">
                                        <div class="col-md-2">
                                            <span class="date">01–08-2015</span>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="text_group">
                                                <div class="float_l"><a href="#">AGD IT Solution Sdn Bhd</a> | Junior Software Engineer</div>
                                                <div class="float_r">Banani, Dhaka</div>
                                                <ul>
                                                    <li> Work with team and Developed Web Application </li>
                                                    <li>Department: Software Department </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>






                                <h2 class="education">education</h2>
                                <div class="row">
                                    <div class="ex_text_gp">
                                        <div class="col-md-2">
                                            <span class="date">2010</span>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="text_group">
                                                <div class="float_l"><span>SSC (Secondary School Certificate)</span></div>
                                                <div class="float_r"><span>Momenshahi Islami Academy and<br/> college </span></div>
                                                <ul>
                                                    <li>GPA: 4.56 out of 5.00 </li>
                                                    <li>Group: Science </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="ex_text_gp">
                                        <div class="col-md-2">
                                            <span class="date">2012</span>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="text_group">
                                                <div class="float_l"><span>HSC (Higher Secondary Certificate)</span></div>
                                                <div class="float_r"><span>Royel Midea College</span></div>
                                                <ul>
                                                    <li>GPA: 4.20 out of 5.00</li>
                                                    <li>Group: Science </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="ex_text_gp">
                                        <div class="col-md-2">
                                            <span class="date">2016</span>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="text_group">
                                                <div class="float_l"><span> Bachelor of Computer Science & Engineering (BCSE) </span></div>
                                                <div class="float_r"><span>IUBAT -International University of<br/> Business Agriculture & Technology.</span></div>
                                                <ul>
                                                    <li>CGPA: 3.10 out of 4.00</li>
                                                    <li>Major: C, C++, java </li>
                                                </ul>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </div>
    </div>


</body>

</html>