<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>cv</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <link href="css/cv.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

</head>

<body>
   
    
      <div class="container-fluid">	
        <div class="row">	
		<div class="col-md-12 col-am-12">
			<div class="row">
			<div class="header_title">
				<h1>SIRAT BINTE <span>SIDDIQUE</span></h1>
				<h4>language technologist and software developer</h4>
			</div>
			</div>
		</div>
	
		<div class="col-md-12 col-am-12">
			<div class="row">
			<div class="container" id="conent_">
				<div class="col-md-3">
					<div class="row">
						<address class="first_">
						  <strong class="contact">contact</strong><br>
						  anjanavakil@gmail.com<br>
							+49 174 750 8259<br>
							<span>blog</span> vakila.github.io<br>
							<span>twitter</span> @AnjanaVakil<br>
							<span>github</span> vakila<br>
							<span>irc</span> :vakila
						</address>
						<address class="first_">
						  <strong class="skills">skills</strong><br>
							<span>proficient</span><br>
							Python<br>
							Git<br>
							<span>comfortable</span><br>
							JavaScript<br>
							HTML/CSS<br>
							Mercurial<br>
							<span>familiar</span><br>
							Java<br>
							Groovy<br>
							C#<br>
							Subversion<br>

						</address>
						<address class="first_">
						  <strong class="languages">languages</strong><br>
								<span>native</span><br>
								English<br>
								<span>advanced</span><br>
								French<br>
								<span>intermediate</span><br>
								German<br>
								Italian<br>
								<span>beginner</span><br>
								Spanish<br>
						</address>
					
					
					</div>
				</div>
				<div class="col-md-9">
				<div class="row">
					<h2>selected projects</h2>
					<div class="text_group">
					<div class="float_l"><span>Net-Set</span> | A networked multiplayer card game for the browser</div>
					<div class="float_r"><a href="#">github.com/vakila/net-set</a></div>
					<ul>
						<li>Developed single-page web app using Node.js, Express, and socket.io, with Mocha for TDD</li>
						<li>Built app backend using functional programming and persistent data structures (via Mori library)</li>
					</ul>
					</div>
					<div class="text_group">
					<div class="float_l"><span>Net-Set</span> | A networked multiplayer card game for the browser</div>
					<div class="float_r"><a href="#">github.com/vakila/net-set</a></div>
					<ul>
						<li>Developed single-page web app using Node.js, Express, and socket.io, with Mocha for TDD</li>
						<li>Built app backend using functional programming and persistent data structures (via Mori library)</li>
					</ul>
					</div>
					<div class="text_group">
					<div class="float_l"><span>Net-Set</span> | A networked multiplayer card game for the browser</div>
					<div class="float_r"><a href="#">github.com/vakila/net-set</a></div>
					<ul>
						<li>Developed single-page web app using Node.js, Express, and socket.io, with Mocha for TDD</li>
						<li>Built app backend using functional programming and persistent data structures (via Mori library)</li>
					</ul>
					</div>
					<div class="text_group">
					<div class="float_l"><span>Net-Set</span> | A networked multiplayer card game for the browser</div>
					<div class="float_r"><a href="#">github.com/vakila/net-set</a></div>
					<ul>
						<li>Developed single-page web app using Node.js, Express, and socket.io, with Mocha for TDD</li>
						<li>Built app backend using functional programming and persistent data structures (via Mori library)</li>
					</ul>
					</div>
					<div class="text_group">
					<div class="float_l"><span>Net-Set</span> | A networked multiplayer card game for the browser</div>
					<div class="float_r"><a href="#">github.com/vakila/net-set</a></div>
					<ul>
						<li>Developed single-page web app using Node.js, Express, and socket.io, with Mocha for TDD</li>
						<li>Built app backend using functional programming and persistent data structures (via Mori library)</li>
					</ul>
					</div>
					<h2 class="experience">experience</h2>
					<div class="row">
					<div class="ex_text_gp">
						<div class="col-md-2">
							<span class="date">09–12/2015</span>
						</div>
						<div class="col-md-10">
						<div class="text_group">
							<div class="float_l"><a href="#">Mozilla</a> |  Outreachy Intern, Engineering Productivity</div>
							<div class="float_r">Remote</div>
							<ul>
								<li>Write new unit tests for the Marionette Python test runner using Pytest</li>
								<li>Refactor the runner’s base classes and methods as needed to facilitate testing </li>
								<li>Improve command-line interfaces for running Marionette-based tests</li>
							</ul>
						</div>
						</div>
					</div>
					</div>
					<div class="row">
					<div class="ex_text_gp">
						<div class="col-md-2">
							<span class="date">09–02/2015</span>
						</div>
						<div class="col-md-10">
						<div class="text_group">
							<div class="float_l"><a href="#">Recurse Center (f.k.a. Hacker School)</a> | Recurser</div>
							<div class="float_r">New York, NY, US</div>
							<ul>
								<li>Write new unit tests for the Marionette Python test runner using Pytest</li>
								<li>Refactor the runner’s base classes and methods as needed to facilitate testing </li>
								<li>Improve command-line interfaces for running Marionette-based tests</li>
							</ul>
						</div>
						</div>
					</div>
					</div>
					<div class="row">
					<div class="ex_text_gp">
						<div class="col-md-2">
							<span class="date">09–05/2015</span>
						</div>
						<div class="col-md-10">
						<div class="text_group">
							<div class="float_l"><a href="#">Mozilla</a> |  Outreachy Intern, Engineering Productivity</div>
							<div class="float_r">Remote</div>
							<ul>
								<li>Write new unit tests for the Marionette Python test runner using Pytest</li>
								<li>Refactor the runner’s base classes and methods as needed to facilitate testing </li>
								<li>Improve command-line interfaces for running Marionette-based tests</li>
							</ul>
						</div>
						</div>
						
						
					</div>
					</div>
					<h2 class="education">education</h2>
					
					<div class="row">
					<div class="ex_text_gp">
						<div class="col-md-2">
							<span class="date">2011</span>
						</div>
						<div class="col-md-10">
						<div class="text_group">
							<div class="float_l"><span>M.S. Language Science & Technology</span></div>
							<div class="float_r"><span>Saarland University, Saarbrücken, DE</span></div>
							<ul>
								<li>Studied e.g. speech recognition, NLP, machine learning, software engineering</li>
								<li>Presented original research and software at international conferences </li>
							</ul>
						</div>
						</div>
						
						
					</div>
					</div>
					<div class="row">
					<div class="ex_text_gp">
						<div class="col-md-2">
							<span class="date">2015</span>
						</div>
						<div class="col-md-10">
						<div class="text_group">
							<div class="float_l"><span>M.S. Language Science & Technology</span></div>
							<div class="float_r"><span>Saarland University, Saarbrücken, DE</span></div>
							<ul>
								<li>Studied e.g. speech recognition, NLP, machine learning, software engineering</li>
								<li>Presented original research and software at international conferences </li>
							</ul>
						</div>
						</div>
						
						
					</div>
					</div>
				</div>
				</div>

			</div>
			</div>
		</div>



		</div>
		</div>


</body>

</html>